[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
argh = "*"
black = "*"
dataclasses = "*"
jedi = "*"
watchdog = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pylint-fail-under = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
twine = "*"
vrelease-bin = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx-book-theme = "*"

[scripts]
"start" = "python -m yapt"
"start:watch" = "watchmedo auto-restart -p '*.py' -R python -- -m yapt"
"build:docs" = "sphinx-build .docs .docs/build"
"fix:style" = "black -l 100 -S yapt"
"check:lint" = "pylint --fail-under 9 --rcfile .pylintrc --output-format colorized --verbose yapt"
"check:types" = "mypy yapt"
"check:style" = "black -l 100 -S --check yapt"
"tests" = "pytest --cov yapt --cov-report term --cov-report html --verbose"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
