name: perform-code-checkings

on:
  push:
    branches: '*'
    tags: '*'
    paths-ignore: '**.rst'

  pull_request:
    branches: '*'
    tags: '*'
    paths-ignore: '**.rst'

jobs:
  code-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9']

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        uses: snok/install-poetry@v1.0.0
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Cache venv
        id: code-check-cache
        uses: actions/cache@v3
        with:
          path: .venv
          key: code-check-python-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        if: steps.code-check-cache.outputs.cache-hit != 'true'
        run: poetry install

      - name: Check code style
        run: poetry run poe check:style

      - name: Check lint
        run: poetry run poe check:lint

      - name: Check types
        run: poetry run poe check:types

      - name: Run unit tests
        run: poetry run poe tests

      - name: Build documentation
        run: poetry run poe build:docs
