name: run-tests-and-upload-coverage

on:
  push:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

  pull_request:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

jobs:
  test-with-cov:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install poetry
        uses: snok/install-poetry@v1.3.1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Cache venv
        id: test-with-cov-cache
        uses: actions/cache@v3
        with:
          path: .venv
          key: test-with-cov-${{ hashFiles('app/poetry.lock') }}

      - name: Install dependencies
        if: steps.test-with-cov-cache.outputs.cache-hit != 'true'
        run: cd app && poetry install

      - name: Run unit tests
        run: make poe task=test

#     - name: Upload coverage results
#       uses: codecov/codecov-action@v3
#       with:
#         files: ./coverage.xml
#         verbose: true
